[features]
resolution = true
skip-lint = false

[programs.localnet]
gametrading = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

[test.validator.clone]
[test.validator.clone.account]
[test.validator.clone.program]

[build]
[build.rust]
[build.sbf]

